@use "../variables.scss";

.title-section {
  margin: 4rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 0;
  h2 {
    margin: 0;
    font-size: clamp(1.5rem, 6vw, 2.4rem);
  }
  .title-section__dash {
    position: absolute;
    width: 10%;
    height: 5px;
    background-color: variables.$main-font;
    bottom: 0;
  }
}


