@use '../../../styles/colors';

.headerContainer{
    background: linear-gradient(to right, rgba(colors.$mid-black, 0.85),rgba(colors.$mid-black,0.79)), url('../../../images/bg.jpg'); 
    height: 93vh;
    background-size: cover;
    color: white;
}

.wrap{
    display: flex;
    max-width: 1200px;
    height: 100%;
    align-items: center;
    margin: auto;
}

.headerInfo{
    font-size: 3rem;
    margin-left: 1rem;
    button{
        font-size: 1.3rem;
        background: transparent;
        border: 1px solid colors.$aqua-marin;
        padding: 10px 25px;
        color: white;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 4px 1px rgba(colors.$aqua-marin, 1.0);
            border: 1px solid rgba(colors.$aqua-marin, 0.8);
            color: colors.$light-gray;
        }
    }
}