.container{
    margin: 10rem 2rem;
    min-height: 100vh;
}

.divisor{
    margin: 0 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    >div{
        width: 50%;
    }
}

.imageContainer{
    width: 100%;

    img{
        width: 100%;
    }

    object{
        width: 100%;
    }
}

.textContainer{
    font-size: 1.3rem;
    h3{
        font-size: 1.7rem;
    }
}

.contactLinks{
    font-size: 50px;

    a{
        margin: 0 1rem;
    }

    a:first-of-type{
        margin-left: 0; 
    }
}

@media(max-width: 1000px){
    .divisor{
        flex-direction: column;
        >div{
            width: 100%;
        }
    }

    .textContainer{
        text-align: center;
        font-size: 1.1rem;
        h3{
            font-size: 1.4rem;
        }
    }
}