@use '../../styles/colors';

.cardContainer {
  height: 55vh;
  width: 80%;
  margin: auto;
  background-size: cover;
  position: relative;
  display: flex;
}

.imageContainer {
  flex: 0.6;
  position: relative;
  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
  }
}

.detailsContainer {
  background-color: colors.$mid-black;
  flex: 0.4;
  padding: 15px 10px;
  position: relative;
}

.actions {
  position: absolute;
  bottom: 1.2rem;
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    margin: 0 1.2rem;
    font-size: 2.5rem;

    &:hover {
      cursor: pointer;
      color: colors.$aqua-marin;
    }
  }
}
