.container{
    position: fixed;
    bottom: 0;
    z-index: 999;
    left: 2rem;
    // background-color: white;
    // height: 100%;
}

.icon{
    max-width: 40px;
    margin: 1rem 0;
    opacity: 50%;

    img{
        width: 120%;
    }

    &:hover{
        cursor: pointer;
        opacity: 80%;
    }
}