.about{
    margin: 10rem 0;
    min-height: 100vh;
    overflow-x: hidden;

    &__divisor{
        margin: 0 0;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        >div{
            width: 50%;
        }
    }

    &__image{
        width: 100%;
    
        img{
            width: 100%;
        }
    
        svg{
            width: 100%;
            height: 100%;
        }
    }
    
    &__text{
        font-size: 1.3rem;
        h3{
            font-size: 1.7rem;
        }
    }
    
    &__links{
        font-size: 50px;
    
        a{
            margin: 0 1rem;
        }
    
        a:first-of-type{
            margin-left: 0; 
        }
    }
    
    @media(max-width: 900px){
        &__divisor{
            // flex-direction: column;
            >div{
                width: 100%;
            }
        }
    
        &__text{
            text-align: center;
            font-size: 1.1rem;
            h3{
                margin: 3rem 0;
                font-size: 1.2rem;
            }
        }
        &__links{
            margin-top: -2rem;
        }
    }
}



