@use '../../styles/variables.scss';

.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    // border: 1px solid white;
    overflow: hidden;
    border-radius: 10px;
    background-color: variables.$almost-black;
    // padding: 10px 6px;
    margin: 2rem 3rem;
    transition: 0.3s linear;

    &:hover{
        // cursor: pointer;
        transform: scale(1.05);

        &>div:last-child{
            bottom: -3px;
        }
    }

}

.imageContainer{
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: -10px auto;
    img{
        width: 100%;
        border-radius: 10px;
    }
}

.textContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1.1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    background-color: rgba(variables.$almost-black, 0.95);
    bottom: -85%;
    left: 0;
    transition: 0.5s linear;
    height: 100%;

    h2{
        font-size: 1.5rem !important;
        margin: 1rem;
        padding: 0;
        font-weight: 600;
        text-align: center;
    }

    p{
        word-wrap: break-word;
    }
}

.icon{
    max-width: 40px;
    opacity: 40%;
    margin: 0 10px;
    img{
        width: 100%;
        height: 100%;
    }

    &:hover{
        opacity: 80%;
    }
}

.linksContainer{
    display: flex;
}